<ul>
    <li><a href="https://github.com/coronablogbr/blog-source/issues/new"><i class="fab fa-github"></i> GitHub (crie uma issue)</a></li>
    <li><a href="mailto:coronablogbr@gmail.com"><i class="fas fa-envelope-square"></i> e-mail</a></li>
    <li><a href="https://twitter.com/coronablogbr"><i class="fab fa-twitter"></i> Twitter</a></li>
    <li><a href="https://www.instagram.com/coronablogbr/"><i class="fab fa-instagram"></i> Instagram</a></li>
    <li><a href="https://fb.me.com/coronablogbr"><i class="fab fa-facebook"></i> Facebook</a></li>
</ul>